/*CSS Variables*/
:root {
  --padding-container-main: 1rem;
  --color-dark: #fff;
  --color-light: #333;
  --color-link: #558bcc;
  --color-dark-alt: #f3f3f3;

  /* Dark mode? */
  /*--color-dark: #333;*/
  /*--color-light: #fff;*/
  /*--color-link: #6baacc;*/
  /*--color-dark-alt: #555;*/

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --color-highlight: #cc272e;
  --color-error: #cc272e;
  --color-message: #0b5506;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-light);
  background: var(--color-dark);
}

html * {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header header'
    'content sidebar'
    'footer footer';
  grid-gap: 2px;
  max-width: 1620px;
  justify-self: center;
}

.btn {
  background: var(--color-dark);
  color: var(--color-light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

hr {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

body > header {
  grid-area: header;
  padding: var(--padding-container-main);
  background: var(--color-dark-alt);
}

body > main {
  grid-area: content;
  min-height: 400px;
  padding: var(--padding-container-main);
  border-left: 2px solid var(--color-dark-alt);
  max-width: available;
}

body > aside {
  grid-area: sidebar;
  padding: var(--padding-container-main);
  background: var(--color-dark-alt);
  max-width: 25rem;
  min-width: 15rem;
  justify-self: right;
}

body > *:nth-child(odd) {}

body > footer {
  grid-area: footer;
  padding: var(--padding-container-main);
  background: var(--color-dark-alt);
  text-align: center;
}

.main-nav ul {
  list-style: none;
  padding: 0;

  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(10, 1fr);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-link);
}

a:hover {
  color: var(--color-highlight);
}

p {
  line-height: 2rem;
}

.main-nav a {
  text-decoration: none;
  background: var(--color-light);
  color: var(--color-dark);
  display: block;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.main-nav a:hover {
  background: var(--color-dark-alt);
  color: var(--color-light);
}

.main-content {
  line-height: 2rem;
}

.main-content h1 {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  color: var(--color-highlight);
}

.main-content h2 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-highlight);
}

.main-content h3 {
  padding-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--color-highlight);
}

.main-content .content {
  line-height: 2rem;
  padding-bottom: 1rem;
}

.main-content .content br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 60%;
}

.main-content ul {
  margin: 1rem 0;
  padding-left: 2rem;
  line-height: 1.4rem;
}

.main-content li {
  padding: 0.2rem 0;
}

.sidebar h1 {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
  display: block;
  border-bottom: 2px solid var(--color-highlight);
}

.sidebar ul {
  list-style: none;
  margin-left: 0.4rem;
}

.sidebar li {
  padding: 0.2rem 0;
}

.footer ul {
  list-style: none;
}

.footer li {
  display: inline-block;
  padding: 0 1rem;
  border-left: solid 1px var(--color-light);
}

.footer li:first-child {
  border-left: 0;
}

/*
START: Text Formatting
 */
.picture_caption {
  font-style: italic;
  font-size: 0.9rem;
  color: var(--color-message);
  padding-left: 1rem;
}

p::first-letter {
  font-size: 200%;
  font-weight: bold;
  color: var(--color-highlight);
}

strong, .highlight {
  color: var(--color-highlight);
  font-weight: bold;
}

.main-content .child-pages, .main-content .child-articles {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.breadcrumbs-top {
  margin-bottom: 1.5rem;
}

.breadcrumbs-bottom {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
  padding: 0.4rem 1.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.error, .message {
  font-style: italic;
  padding-bottom: 0.8rem;
  font-weight: bold;
}

.error {
  color: var(--color-error);
}

.message {
  color: var(--color-message);
}

/*
END: Text Formatting
 */




/*
START: Media Queries
 */
@media(max-width: 1600px) {
  .main-nav ul {
    grid-template-columns: repeat(8, 1fr);
  }

  .main-nav .nav-9, .main-nav .nav-8 {
    display: none;
  }
}

@media(max-width: 1300px) {
  .main-nav ul {
    grid-template-columns: repeat(6, 1fr);
  }

  .main-nav .nav-7, .main-nav .nav-6 {
    display: none;
  }
}

@media(max-width: 1000px) {
  .main-nav ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-nav .nav-5, .main-nav .nav-4 {
    display: none;
  }

  body {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'sidebar'
        'footer';
  }

  .sidebar {
    text-align: center;
  }

  body > aside {
    min-width: 100%;
  }

  .sidebar li {
    display: inline;
    padding: 1.4rem;
  }
}

@media(max-width: 700px) {
  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .main-content .content {
    text-align: justify;
  }

  .sidebar ul {
    line-height: 2em;
  }
}

/*
END: Media Queries
 */
